<p id="notice"><%= notice %></p>

<h1>Arguments</h1>


<p><%= arguments_url(format: :sse) %></p>
  <%= react_component("ArgumentContainer", url: arguments_url(format: :sse)) %>

<br>

<%= link_to 'New Argument', new_argument_path %>
