/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "growlyflash";

.card {
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    /* width: 20px !important; */
}

*[class^="reactions-"]>.card {
    display: block;
}

.event > .card {
    min-height: 150px;
    background-color: beige;
}

.card p {
    display: inline;
}

.card-container {
    display: block;
}

.event-container {
    display: inline;
    float: left;
    max-width: 200px;
}

.events {
    width: 100vw;
}

